.dualSlider {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: 10px;

}



.slider {
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: relative;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: auto;
    border: 1px solid #ddd;
}

.image {
    width: 110%;
    height: 110%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
    color: gray;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.1);
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}


@media (max-width: 1024px) {
    .dualSlider {
        gap: 15px;
        margin: 10px 15px;
    }

    .slider {
        height: auto;
        max-width: 100%;
    }

    .imageWrapper {
        border-radius: 8px;
    }


    .swiper-button-next,
    .swiper-button-prev {
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .dualSlider {
        gap: 10px;
        margin: 5px 10px;
    }

    .slider {
        height: auto;
        max-width: 100%;
    }

    .imageWrapper {
        border-radius: 6px;
    }


    .swiper-button-next,
    .swiper-button-prev {
        padding: 6px;
    }


    .image {
        object-fit: contain;
    }
}