@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/f70b18e78f0c256d3aa0ecb00daf64c9?family=Linotype+Humanistika+W01);
*{
    box-sizing: border-box;
    
}

@font-face {
    font-family: "Linotype Humanistika W01";
    src: url("https://db.onlinewebfonts.com/t/f70b18e78f0c256d3aa0ecb00daf64c9.eot");
    src: url("https://db.onlinewebfonts.com/t/f70b18e78f0c256d3aa0ecb00daf64c9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f70b18e78f0c256d3aa0ecb00daf64c9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f70b18e78f0c256d3aa0ecb00daf64c9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f70b18e78f0c256d3aa0ecb00daf64c9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f70b18e78f0c256d3aa0ecb00daf64c9.svg#Linotype Humanistika W01")format("svg"),

}

@font-face {
    font-family: 'font';
    src: url('/src/app/fonts/navfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Colder-Weather-Regular';
    src:url('/fonts/Colder-Weather-Regular.woff') format('woff'),
        url('/fonts/Colder-Weather-Regular.svg#Colder-Weather-Regular') format('svg'),
        url('/fonts/Colder-Weather-Regular.eot'),
        url('/fonts/Colder-Weather-Regular.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.macondo-swash-caps-regular {
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.island-moments-regular {
    font-family: "Island Moments", cursive;
    font-weight: 500;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.abhaya-libre-regular {
    font-family: "Abhaya Libre", serif;
    font-weight: 900;
    font-style: normal;
  }  

.navfont {
    font-family: 'font';
}

.timeLeftToRegister {
    font-family: 'Colder-Weather-Regular';
}

/* Global styles */
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;

}

img {
    background-color: transparent;
}

img.lazy {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  img.lazy.loaded {
    opacity: 1;
  }

  
