@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    
}
img.lazy {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  img.lazy.loaded {
    opacity: 1;
  }

  