@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rock+Salt&display=swap');
 
 @media screen and (min-width: 768px) {
    .prizes {
        margin-top: 1rem;
        height: 29rem;
    }
.first 
{
    height: 15rem;

}
    .second {
        margin-top: 30%;
        height: 15rem;
    }

    .third {
        margin-top: 33%;
        height: 15rem;
    }
}



  
  @keyframes borderAnimation {
    from {
      border-color: #29E1FF;
    }
    to {
      border-color: #FFF61D; 
    }
  }
  

  .block > div {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.106);
    box-shadow: 5px 3px 10px rgba(255, 255, 255, 0.5); /* Adjust the shadow color and intensity as needed */
}

.block > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
}
block > div:hover::before {
    color: #29E1FF !important;
}
.first {
  
  border: 1px solid #000;
  transition: border 0.5s, transform 0.5s;
}

.first:hover,
.first:focus{
  border: 1px solid #FFD700;
  transform: scale(1.07);
  color:#FFD700 ;
}
.second {
  
  border: 2px solid #000;
  transition: border 0.5s, transform 0.5s;
}

.second:hover,
.second:focus {
  border: 2px solid #C0C0C0;
  transform: scale(1.05);
}
.third {
  
  border: 1px solid #000;
  transition: border 0.5s, transform 0.5s;
}

.third:hover,
.third:focus {
  border: 2px solid #a3784c;
  transform: scale(1.05);
}
.looked
{
  font-family: Inter;
}
.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* @keyframes glowAnimation {
  0% {
    box-shadow: 0 0 10px #feaa31, 0 0 20px #feaa31, 0 0 30px #feaa31;
  }
  50% {
    box-shadow: 0 0 20px #dadada, 0 0 40px #dadada, 0 0 60px #dadada;
  }
  100% {
    box-shadow: 0 0 10px #6e5100, 0 0 20px #6e5100, 0 0 30px #6e5100;
  }
}

.glowing-border {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  animation: glowAnimation 3s infinite linear;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  /* Act as border */
  .card-wrapper{
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
  }

  /* Gradient */
  .card-wrapper::before{
    background: conic-gradient(
      rgb(254, 170, 49) 0deg,
      rgb(255, 191, 100) 0deg,
      transparent 80deg
    );

    @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] lg:h-[100vh] md:h-[50vh] animate-borderSpin;
  }

  /* Body */
  .card-content{
    @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] bg-deepblue lg:h-[40vh] xl:h-[50vh] md:h-[35vh] sm:h-[30vh] custom:h-[22vh] xs:h-[20vh] rounded-2xl;
  }



  .card-wrapper2{
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
  }

  /* Gradient */
  .card-wrapper2::before{
    background: conic-gradient(
      rgb(238, 237, 237) 0deg,
      rgb(255, 241, 241) 0deg,
      transparent 80deg
    );

    @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] lg:h-[100vh] md:h-[50vh] animate-borderSpin;
  }

  /* Body */
  .card-content2{
    @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] bg-deepblue lg:h-[40vh] xl:h-[50vh] md:h-[35vh] sm:h-[30vh] custom:h-[22vh] xs:h-[20vh] rounded-2xl;
  }
  



  .card-wrapper3{
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800  rounded-2xl overflow-hidden;
  }

  /* Gradient */
  .card-wrapper3::before{
    background: conic-gradient(
      rgb(235, 144, 41) 0deg,
      rgb(235, 114, 41) 0deg,
      transparent 100deg
    );

    @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] lg:h-[100vh] md:h-[50vh] animate-borderSpin;
  }

  /* Body */
  .card-content3{
    @apply absolute w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] bg-deepblue lg:h-[40vh] xl:h-[50vh] md:h-[35vh] sm:h-[30vh] custom:h-[22vh] xs:h-[20vh] rounded-2xl;
  }
}